<footer class="footer site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>OPENING HOURS</h6>
        <br>
        <p>Monday - Thursday</p>
        <p>09:00 AM - 11:00 PM</p>
        <p>Friday - Sunday</p>
        <p>11:00 AM - 01:00 AM</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>CONTACT INFO</h6>
        <br>
        <p>
          <fa-icon [icon]="faMapMarkerAlt"> </fa-icon>
          1234 Altschul, New York, NY 10027-0000
        </p>
        <p>
          <fa-icon [icon]="faPhone"> </fa-icon> +1 987 654 3210
        </p>
        <p>
          <fa-icon [icon]="faEnvelope"> </fa-icon> admin@domain.com
        </p>
      </div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Dorina</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#">
              <fa-icon class="facebook" [icon]="faFacebook"> </fa-icon>
            </a></li>
          <li><a class="instagram" href="#">
              <fa-icon class="instagram" [icon]="faInstagram"> </fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
