<header class="hero">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="naslov font-weight normal font-italic ">Welcome to</h1>
        <h1 class="naslov font-weight-normal font-italic  display-2 ">Cafe Istanbul Restaurant</h1>
        <button type="button" class="btn btn-outline-light btn-lg font-italic font-weight-bold"
          routerLink='/reservation-page' routerLinkActive="active">Make
          Reservation</button>
      </div>
    </div>
  </div>
</header>
