<header class="hero">
  <div class="container h-100">
    <div class="row h-100 align-items-left">
      <div class="col-12 text-left">
        <br>
        <br>
        <div class="col-md-5 ">
          <br>
          <hr>
          <h1>About Us</h1>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum
            at
            voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet
            unde.
          </p>
          <br>
          <button type="button" class="btn btn-outline-light btn-lg font-italic font-weight-bold"
            routerLink='/about-us-page' routerLinkActive="active">Read More</button>
          <br>
          <br>

          <hr>

        </div>
      </div>
    </div>
  </div>
</header>
<br>
