<body>
  <br>
  <div class="row">
    <div class="col-md-5 ">
      <hr>
      <h3>Make Online Reservation</h3>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at
        voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet
        unde.
      </p>
      <br>
      <a class="btn btn-outline-dark btn-lg font-italic font-weight-bold" routerLink='/reservation-page'
        routerLinkActive="active">Reserve a Table</a>

    </div>
    <div class="col-md-7">
      <br>
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/reservation2.jpg" alt="">
      </a>
    </div>
  </div>
</body>
